@model GestorEventos.Cliente.Models.Eventos

@{
    ViewData["Title"] = "Edit";
}
<div class="card text-primary">
    <div class="card-header text-center">
        <h5>Edicion de Eventos</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 container">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group visually-hidden">
                                        <label asp-for="eventId" class="control-label"></label>
                                        <input asp-for="eventId" class="form-control" />
                                        <span asp-validation-for="eventId" class="text-danger"></span>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label asp-for="eventName" class="control-label">Nombre del Evento <span style="color:red">*</span></label>
                                        <input asp-for="eventName" class="form-control" />
                                        <span asp-validation-for="eventName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="eventDescription" class="control-label">Descripcion del Evento <span style="color:red">*</span></label>
                                        <textarea asp-for="eventDescription" class="form-control"></textarea>
                                        <span asp-validation-for="eventDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col">
                                            <label asp-for="startDate" class="control-label">Fecha de Inicio</label>
                                            <input type="date" asp-for="startDate" class="form-control" aria-describedby="dateHelp" />
                                            <span asp-validation-for="startDate" class="text-danger"></span>
                                        </div>
                                        <div class="col">
                                            <label asp-for="endDate" class="control-label">Fecha de Culminacion</label>
                                            <input type="date" asp-for="endDate" class="form-control" aria-describedby="dateHelp" />
                                            <span asp-validation-for="endDate" class="text-danger"></span>
                                        </div>
                                        <div class="col">
                                            <label asp-for="eventStatus" class="control-label">Estatus del Evento</label>
                                            <select asp-for="eventStatus" class="form-select" aria-label="Default select example">
                                                <option value="">Seleccione una opcion...</option>
                                                <option value="Confirmado">Confirmado</option>
                                                <option value="Proximamente">Proximamente</option>
                                                <option value="Cancelado">Cancelado</option>
                                            </select>
                                            <span asp-validation-for="eventStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col">
                                            <a asp-action="Index" class="btn btn-success float-start">Regresar</a>
                                            <input type="submit" value="Guardar" class="btn btn-primary float-end" />
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        Crud Eventos
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</div>

@* <h1>Edit</h1>

<h4>Eventos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="eventId" class="control-label"></label>
                <input asp-for="eventId" class="form-control" />
                <span asp-validation-for="eventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eventName" class="control-label"></label>
                <input asp-for="eventName" class="form-control" />
                <span asp-validation-for="eventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eventDescription" class="control-label"></label>
                <input asp-for="eventDescription" class="form-control" />
                <span asp-validation-for="eventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eventStatus" class="control-label"></label>
                <input asp-for="eventStatus" class="form-control" />
                <span asp-validation-for="eventStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@